body{
    background-color: whitesmoke;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-top-width: thick;
    border-color: grey;
    border-width: 10px;
    width: 3%;
}

h1, h3, ul, th{
    color: black;
}

p, li, td{
    color: black;
}

#ProfileIntro, #Education, #Work, #Skills, #Contact {
    padding: 3% 10% 7% 3%;
}

